<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <br>

  </head>

<body>
 <!-- Data -->
  <br>
    <div class="container">
      <center><h3 style='color:crimson'> {{country}} Live status </h3></center>
      <br>
      <center><h4 style='color:crimson'> Reproductive Number(R_0)= {{Reproductive}}  </h4></center>
      </br>

      <br>
      <br>
      <br>
      <div class="row justify-content-center  mx-auto w-auto">

          <div class="col">
              <svg class="bi bi-heart-half" width="10em" height="12em" viewBox="0 0 20 20" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>

              </svg>
              <div id = "container">
                  <h3><strong>Total: </strong></h3><h3> {{ data3["countrydata"][0]["total_cases"] }} </h3>

              </div>

          </div>

          <div class="col">
              <svg class="bi bi-heart-fill" width="10em" height="12em" viewBox="0 0 20 20" fill="green" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>

              </svg>
              <div id = "container">
                  <h3><strong>Recovered: </strong></h3> <h3> {{ data3["countrydata"][0]["total_recovered"] }}</h3>

              </div>

          </div>

          <div class="col">
              <svg class="bi bi-heart-fill" width="10em" height="12em" viewBox="0 0 20 20" fill="black" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                </svg>
                <div id = "container">
                    <h3><strong>Deaths: </strong></h3> <h3> {{ data3["countrydata"][0]["total_deaths"] }}</h3>

                </div>

          </div>
            <div class="col">
                <svg class="bi bi-heart-fill" width="10em" height="12em" viewBox="0 0 20 20" fill="blue" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                </svg>
                <div id = "container">
                    <h3><strong>New Cases:</strong></h3><h3>{{ data3["countrydata"][0]["total_new_cases_today"] }}</h3>
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center  mx-auto w-auto">
          </div >

        <div class="col">
            <svg class="bi bi-heart-fill" width="10em" height="12em" viewBox="0 0 20 20" fill="grey" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
            </svg>

            <div id  = "container">
              <h3><b>New Deaths:</b></h3><h3>{{ data3["countrydata"][0]["total_new_deaths_today"] }}</h3><h3></h3>
            </div>
        </div>
              </div>

        <center><div class = "justify-content-center">
          <left>
           <img title="Daily cases" src="{{cases}}" alt="da" height="500" width="500">
           </left>
           <right>
             <img title="Daily deathes" src="{{deaths}}" alt="Chart" height="500" width="500">
           </right>
        </div></center>
        <br>
        <div class="button">
          <form >
            <center><input type="button" value="Home" onclick="history.back()"></center>
          </form>
        </br>
      </div>
      </div>




<style type='text/css'>

  #container {
  display: flex;
  width: auto;
  justify-content: auto;
  align-items: auto;
  position: relative;
  margin: auto;
  }





  body, html {
    margin: 0px;
    padding: 0px;
  }

  .form-control-borderless {
    border: none;
  }

  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
</style>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
